In [1]:
import pandas as pd

df_names = pd.read_csv('data/bryophytes/names.csv')

df_trop = df_names[['scientificNameID', 'scientificName', 'canonicalName']]
df_trop.rename(columns={
    'scientificNameID': 'SourceID',
    'scientificName': 'FullNameWithAuthors',
    'canonicalName': 'FullNameNoAuthors'
}, inplace=True)

new_source_id = []
for index, row in df_trop.iterrows():
    new_source_id.append(row['SourceID'][len('https://id.biodiversity.org.au/name/ausmoss/'):])

df_trop['SourceID'] = new_source_id

df_trop.to_csv('data/bryophytes/tropicos-name-match-in.tsv', sep='\t', index=False)

df_trop

/tmp/ipykernel_4274/1532325500.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trop.rename(columns={
/tmp/ipykernel_4274/1532325500.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trop['SourceID'] = new_source_id

,SourceID,FullNameWithAuthors,FullNameNoAuthors
0,209689,Acrobolbus cinerascens f. attenuata Rodway,Acrobolbus cinerascens f. attenuata
1,135853,Acrobolbus cinerascens (Lehm. & Lindenb.) Schi...,Acrobolbus cinerascens
2,209690,Acrobolbus cinerascens (Lehm. & Lindenb.) Bastow,Acrobolbus cinerascens
3,135196,Acrobolbus concinnus (Mitt.) Grolle,Acrobolbus concinnus
4,210448,Acrobolbus cyaneus Herzog,Acrobolbus cyaneus
...,...,...,...
9073,129406,Jungermanniaceae Rchb.,Jungermanniaceae
9074,128460,Lophocoleaceae Vanden Berghen,Lophocoleaceae
9075,128458,Scapaniaceae Mig.,Scapaniaceae
9076,120369,Lepidoziaceae Limpr.,Lepidoziaceae
9077,128456,Adelanthaceae Grolle,Adelanthaceae

In [2]:
df_trop_dat = pd.read_csv('data/bryophytes/tropicos-name-match-in_results.dat', sep='\t')
df_trop_dat

,FullnameWithAuthors,FullnameNoAuthors,SourceID,OutputNameID,OutputHowMatched,OutputFullNameWithAuthors,OutputAbbreviatedTitle,OutputCollation,OutputVolume,OutputIssue,OutputPage,OutputTitlePageYear,OutputYearPublished,OutputNomenclatureStatus,OutputBHLLink,OutputBatchID
0,Acrobolbus cinerascens f. attenuata Rodway,Acrobolbus cinerascens f. attenuata,209689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37362
1,Acrobolbus cinerascens (Lehm. & Lindenb.) Schi...,Acrobolbus cinerascens,135853,35190411.0,FullnameNoAuthors,Acrobolbus cinerascens (Lehm. & Lindenb.) Bastow,Pap. & Proc. Roy. Soc. Tasmania,1887: 242,1887,NaN,242,1888,NaN,No opinion,http://www.biodiversitylibrary.org/openurl?pid...,37362
2,Acrobolbus cinerascens (Lehm. & Lindenb.) Bastow,Acrobolbus cinerascens,209690,35190411.0,FullnameWithAuthors,Acrobolbus cinerascens (Lehm. & Lindenb.) Bastow,Pap. & Proc. Roy. Soc. Tasmania,1887: 242,1887,NaN,242,1888,NaN,No opinion,http://www.biodiversitylibrary.org/openurl?pid...,37362
3,Acrobolbus concinnus (Mitt.) Grolle,Acrobolbus concinnus,135196,100411048.0,FullnameNoAuthors,Acrobolbus concinnus (Mitt.) Steph.,Trans. & Proc. New Zealand Inst.,24: 399,24,NaN,399,1892,NaN,No opinion,http://www.biodiversitylibrary.org/openurl?pid...,37362
4,Acrobolbus cyaneus Herzog,Acrobolbus cyaneus,210448,35209641.0,FullnameWithAuthors,Acrobolbus cyaneus Herzog,Rev. Bryol. Lichénol.,26: 59,26,NaN,59,1957,NaN,No opinion,http://www.biodiversitylibrary.org/openurl?pid...,37362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9042,Jungermanniaceae Rchb.,Jungermanniaceae,129406,35002659.0,FullnameWithAuthors,Jungermanniaceae Rchb.,Bot. Damen,256,NaN,NaN,256,1828,NaN,No opinion,NaN,37362
9043,Lophocoleaceae Vanden Berghen,Lophocoleaceae,128460,35002667.0,FullnameNoAuthors,Lophocoleaceae Müll. Frib. ex Vanden Berghen,"Fl. Gén. Belgique, Bryoph.",1(2): 208,1,2,208,1956,NaN,No opinion,NaN,37362
9044,Scapaniaceae Mig.,Scapaniaceae,128458,35002722.0,FullnameWithAuthors,Scapaniaceae Mig.,"Krypt.-Fl. Deutschl., Moose",479,NaN,NaN,479,1904,NaN,No opinion,NaN,37362
9045,Lepidoziaceae Limpr.,Lepidoziaceae,120369,35002665.0,FullnameWithAuthors,Lepidoziaceae Limpr.,Krypt.-Fl. Schlesien,1(2): 310,1,2,310,1877,NaN,No opinion,NaN,37362
9046,Adelanthaceae Grolle,Adelanthaceae,128456,35002549.0,FullnameWithAuthors,Adelanthaceae Grolle,J. Hattori Bot. Lab.,35: 327–328,35,NaN,327,1972,NaN,No opinion,NaN,37362

In [3]:
df_altids = df_trop_dat[~df_trop_dat['OutputNameID'].isna()][['SourceID', 'OutputNameID', 'OutputTitlePageYear']]

df_altids = df_altids.astype({'OutputNameID': 'int'})
df_altids = df_altids.astype({'OutputNameID': 'str'})
df_altids = df_altids.astype({'SourceID': 'int'})
df_altids = df_altids.astype({'SourceID': 'str'})

df_altids['OutputNameID'] = 'https://tropicos.org/name/' + df_altids['OutputNameID']
df_altids['SourceID'] = 'https://id.biodiversity.org.au/name/ausmoss/' + df_altids['SourceID']


df_altids.rename(columns={'SourceID': 'ID', 'OutputNameID': 'link'}, inplace=True)

df_altids

,ID,link,OutputTitlePageYear
1,https://id.biodiversity.org.au/name/ausmoss/13...,https://tropicos.org/name/35190411,1888
2,https://id.biodiversity.org.au/name/ausmoss/20...,https://tropicos.org/name/35190411,1888
3,https://id.biodiversity.org.au/name/ausmoss/13...,https://tropicos.org/name/100411048,1892
4,https://id.biodiversity.org.au/name/ausmoss/21...,https://tropicos.org/name/35209641,1957
5,https://id.biodiversity.org.au/name/ausmoss/20...,https://tropicos.org/name/35208356,1961
...,...,...,...
9042,https://id.biodiversity.org.au/name/ausmoss/12...,https://tropicos.org/name/35002659,1828
9043,https://id.biodiversity.org.au/name/ausmoss/12...,https://tropicos.org/name/35002667,1956
9044,https://id.biodiversity.org.au/name/ausmoss/12...,https://tropicos.org/name/35002722,1904
9045,https://id.biodiversity.org.au/name/ausmoss/12...,https://tropicos.org/name/35002665,1877
9046,https://id.biodiversity.org.au/name/ausmoss/12...,https://tropicos.org/name/35002549,1972

In [4]:
df_altids

,ID,link,OutputTitlePageYear
1,https://id.biodiversity.org.au/name/ausmoss/13...,https://tropicos.org/name/35190411,1888
2,https://id.biodiversity.org.au/name/ausmoss/20...,https://tropicos.org/name/35190411,1888
3,https://id.biodiversity.org.au/name/ausmoss/13...,https://tropicos.org/name/100411048,1892
4,https://id.biodiversity.org.au/name/ausmoss/21...,https://tropicos.org/name/35209641,1957
5,https://id.biodiversity.org.au/name/ausmoss/20...,https://tropicos.org/name/35208356,1961
...,...,...,...
9042,https://id.biodiversity.org.au/name/ausmoss/12...,https://tropicos.org/name/35002659,1828
9043,https://id.biodiversity.org.au/name/ausmoss/12...,https://tropicos.org/name/35002667,1956
9044,https://id.biodiversity.org.au/name/ausmoss/12...,https://tropicos.org/name/35002722,1904
9045,https://id.biodiversity.org.au/name/ausmoss/12...,https://tropicos.org/name/35002665,1877
9046,https://id.biodiversity.org.au/name/ausmoss/12...,https://tropicos.org/name/35002549,1972

In [5]:
import os
from zipfile import ZipFile

df_nam = pd.read_csv('coldp/bryophytes/name.tsv', sep='\t')

print(df_altids.columns.to_list())
print(df_nam.columns.to_list())

df_merge = df_nam.merge(df_altids, how='left', left_on='scientificNameID', right_on='ID')

df_merge.rename(columns={'OutputTitlePageYear': 'publishedInYear', 'scientificNameID': 'ID'}, inplace=True)

print(df_merge.columns.to_list())

df_merge.to_csv('coldp/bryophytes/name.tsv', sep='\t', index=False)

os.chdir('/home/niels/code/jupyter-notebooks/nsl_export/coldp/bryophytes')

with ZipFile('nsl_bryophytes_coldp.zip', 'w') as zipobj:
    zipobj.write('taxon.tsv')
    zipobj.write('name.tsv')
    zipobj.write('synonym.tsv')
    zipobj.write('namerelation.tsv')
    zipobj.write('reference.tsv')

os.chdir('/home/niels/code/jupyter-notebooks/nsl_export')

df_merge

['ID', 'link', 'OutputTitlePageYear']
['scientificNameID', 'taxonRank', 'scientificName', 'uninomial', 'genericName', 'specificEpithet', 'infraspecificEpithet', 'authorship', 'code', 'status', 'originalNameUsageID', 'originalNameUsage', 'ID', 'link', 'publishedInYear']
['ID', 'taxonRank', 'scientificName', 'uninomial', 'genericName', 'specificEpithet', 'infraspecificEpithet', 'authorship', 'code', 'status', 'originalNameUsageID', 'originalNameUsage', 'ID_x', 'link_x', 'publishedInYear', 'ID_y', 'link_y', 'publishedInYear']

,ID,taxonRank,scientificName,uninomial,genericName,specificEpithet,infraspecificEpithet,authorship,code,status,originalNameUsageID,originalNameUsage,ID_x,link_x,publishedInYear,ID_y,link_y,publishedInYear
0,https://id.biodiversity.org.au/name/ausmoss/10...,species,Acanthocladium crinitum,NaN,Acanthocladium,crinitum,NaN,(Hook.f. & Wilson) Paris,botanical,acceptable,https://id.biodiversity.org.au/name/ausmoss/10...,Hypnum crinitum Hook.f. & Wilson,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35160940,1909,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35160940,1909
1,https://id.biodiversity.org.au/name/ausmoss/10...,species,Acanthocladium crossii,NaN,Acanthocladium,crossii,NaN,Broth.,botanical,acceptable,NaN,NaN,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35102041,1893,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35102041,1893
2,https://id.biodiversity.org.au/name/ausmoss/10...,species,Acanthocladium extenuatum,NaN,Acanthocladium,extenuatum,NaN,(Brid.) Mitt.,botanical,acceptable,https://id.biodiversity.org.au/name/ausmoss/10...,Hypnum extenuatum Brid.,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35102047,1882,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35102047,1882
3,https://id.biodiversity.org.au/name/ausmoss/10...,species,Acanthocladium rigidifolium,NaN,Acanthocladium,rigidifolium,NaN,Dixon,botanical,acceptable,NaN,NaN,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35102097,1941,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35102097,1941
4,https://id.biodiversity.org.au/name/ausmoss/10...,genus,Acanthorrhynchium,Acanthorrhynchium,NaN,NaN,NaN,M.Fleisch.,botanical,acceptable,NaN,NaN,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35000007,1923,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35000007,1923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6200,https://id.biodiversity.org.au/name/ausmoss/10...,species,Zygodon minutus,NaN,Zygodon,minutus,NaN,Müll.Hal. & Hampe,botanical,acceptable,NaN,NaN,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35128406,1856,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35128406,1856
6201,https://id.biodiversity.org.au/name/ausmoss/10...,species,Zygodon obtusifolius,NaN,Zygodon,obtusifolius,NaN,Hook.,botanical,acceptable,NaN,NaN,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35128420,1819,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35128420,1819
6202,https://id.biodiversity.org.au/name/ausmoss/10...,species,Zygodon preissianus,NaN,Zygodon,preissianus,NaN,Hampe,botanical,acceptable,NaN,NaN,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35128452,1860,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35128452,1860
6203,https://id.biodiversity.org.au/name/ausmoss/10...,species,Zygodon remotidens,NaN,Zygodon,remotidens,NaN,Müll.Hal.,botanical,acceptable,NaN,NaN,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35128471,1898,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35128471,1898
6204,https://id.biodiversity.org.au/name/ausmoss/10...,species,Zygodon rodwayi,NaN,Zygodon,rodwayi,NaN,Broth.,botanical,acceptable,NaN,NaN,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35128477,1914,https://id.biodiversity.org.au/name/ausmoss/10...,https://tropicos.org/name/35128477,1914